.main-content {
    position: relative;
    padding: 0 40px 0 40px;
}

.li-card {
    display: flex;
    justify-content: center;
    list-style: none;
    box-shadow: 2px 2px 9px 0px #bbb;
    padding: 70px 0;
    margin-bottom: 20px;
    border-radius: 10px;
    /* position: absolute; */
    width: 80%;
}

// .fade-appear {
//     opacity: 0;
//     transform: scale(0.9);
// }

// .fade-appear-active {
//     opacity: 1;
//     transform: translateX(0);
//     transition: opacity 500ms, transform 500ms;
// }

// .fade-exit {
//     opacity: 1;
// }

// .fade-exit-active {
//     opacity: 0;
//     transform: scale(0.9);
//     transition: opacity 500ms, transform 500ms;
// }