.search {
    display: flex;
    flex-direction: row;
}

input {
    height: 36px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    padding-left: 10px;
    padding-right: 10px;
    flex: 4;
    display: flex;
    transition-duration: 0.6s;

    &:hover {
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
            0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }
}

DropdownList {
    flex: 1;
    display: flex;
}

.search-button {
    width: 100px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    color: rgba($color: #000000, $alpha: 0.5);
    transition-duration: 0.6s;
    flex: 1;

    &:hover {
        background-color: grey;
        color: white;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
            0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }
}

.header-left {
    flex: 5;
}

.header-right {
    flex: 5;
}