
.App {
  text-align: center;
  min-height: 100vh;
  // display: flex;
  // flex-direction: column;
  // flex-shrink: 1;
}

// header {
//   flex: 5;
//   display: flex;
// }
/* body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
} */

.content {
  flex: auto;
  display: flex;
}

.content article {
  flex: 6;
}


/* .sidebar {
  position: fixed;
  width: 10%;
  height: 100%;
} */

.content aside {
  display: flex;
  flex: 1;
  // position: fixed;
  // left: 10%;
  /* background-color: rgb(179, 179, 179); */
  /* border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3); */
}

.left-blank {
  flex: 2;
}
.right-blank {
  flex: 1;
}

html {
  scroll-behavior: smooth;
}

button {
  outline:none;
}

input {
  outline: none;
}


// article {
//   animation: fadeInAnimation ease 5s ;
//   animation-iteration-count: 1; 
//   animation-fill-mode: forwards; 
// }

// @keyframes fadeInAnimation { 
//   0% { 
//       opacity: 0; 
//   } 
//   100% { 
//       opacity: 1; 
//    } 
// }
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
